<div>
  {{#if moreLink }}
    <a href="/news.html" class="news-page__news-link news__card mod-link">
      <div class="news__card-date-wrapper">
        <div class="news__card-date">
          {{ date }}
        </div>
      </div>
      <div>
        <div class="news-page__news-title">
          {{ title }}{{ mark }}
        </div>

        {{#if text }}
          <div class="news-page__content">
            {{ text }}
            <span class="news__card-mark news-page__content-link">Подробнее</span>
          </div>
        {{/if}}
      </div>
    </a>
  {{else}}
    <div class="news-page__news-link news__card">
      <div class="news__card-date-wrapper">
        <div class="news__card-date">
          {{ date }}
        </div>
      </div>
      <div>
        <div class="news-page__news-title">
          {{ title }}{{ mark }}
        </div>

        {{#if text }}
          <div class="news-page__content-container js-drop-menu-container gl__drop-menu-container">
            <div class="news-page__content js-drop-menu gl__drop-menu" data-semi-opening>
              {{ text }}
            </div>
          </div>
          <button type="button"
                  class="program__content-info-btn-show js-drop-menu-btn gl__drop-menu-btn js-drop-menu-leave-open">
            <span class="gl__drop-menu-btn-content mod-show js-drop-menu-btn-content">Подробнее</span>
            <span class="gl__drop-menu-btn-content js-drop-menu-btn-content">Скрыть описание</span>
          </button>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
