<div class="gl__select-container mod-forked">
  {{#if required }}
    <span class="gl__input-mark-required"></span>
  {{/if}}

  <label class="gl__select-wrapper">
    <select class="gl__select" name="{{ firstName }}-{{type}}">
      <option class="gl__select-option">{{ firstOption1 }}</option>
      <option class="gl__select-option">{{ firstOption2 }}</option>
      <option class="gl__select-option">{{ firstOption3 }}</option>
      <option class="gl__select-option">{{ firstOption4 }}</option>
      <option class="gl__select-option">{{ firstOption5 }}</option>
      <option class="gl__select-option">{{ firstOption6 }}</option>
      <option class="gl__select-option">{{ firstOption7 }}</option>
      <option class="gl__select-option">{{ firstOption8 }}</option>
      <option class="gl__select-option">{{ firstOption9 }}</option>
      <option class="gl__select-option">{{ firstOption10 }}</option>
      <option class="gl__select-option">{{ firstOption11 }}</option>
    </select>
  </label>

  <label class="gl__select-wrapper">
    <select class="gl__select" name="{{ secondName }}-{{type}}">
      <option class="gl__select-option">{{ secondOption1 }}</option>
      <option class="gl__select-option">{{ secondOption2 }}</option>
      <option class="gl__select-option">{{ secondOption3 }}</option>
      <option class="gl__select-option">{{ secondOption4 }}</option>
      <option class="gl__select-option">{{ secondOption5 }}</option>
      <option class="gl__select-option">{{ secondOption6 }}</option>
    </select>
  </label>
</div>
