<label class="gl__radio-checkbox-input-wrapper {{ additionClass }} {{#if inputCaption}}mod-for-caption{{/if}}">
  <input type="{{ inputType }}"
         class="gl__radio-checkbox-input"
         name="{{name}}-{{type}}"
    {{#if isChecked }}
         checked
    {{/if}}
    {{#if required }}
         data-parsley-required=""
    {{/if}}
  >

  <span class="gl__radio-checkbox-input-content"></span>
  {{#if inputCaption}}
    <span class="gl__radio-checkbox-input-text">
      {{ inputCaption }}
      {{#if inputCaptionLink }}
        <a href="" class="gl__radio-checkbox-text-link" target="_blank">
          {{ inputCaptionLink }}
        </a>
      {{/if}}
    </span>
  {{/if}}
</label>
