<div class="gl__select-container">
  <label class="gl__select-wrapper">
    <select class="gl__select" name="{{ selectName }}">
      <option class="gl__select-option">{{ selectTitle }}</option>
      <option class="gl__select-option">{{ option1 }}</option>
      <option class="gl__select-option">{{ option2 }}</option>
      <option class="gl__select-option">{{ option3 }}</option>
      <option class="gl__select-option">{{ option4 }}</option>
      <option class="gl__select-option">{{ option5 }}</option>
      <option class="gl__select-option">{{ option6 }}</option>
      <option class="gl__select-option">{{ option7 }}</option>
      <option class="gl__select-option">{{ option8 }}</option>
      <option class="gl__select-option">{{ option9 }}</option>
      <option class="gl__select-option">{{ option10 }}</option>
      <option class="gl__select-option">{{ option11 }}</option>
      <option class="gl__select-option">{{ option12 }}</option>
      <option class="gl__select-option">{{ option13 }}</option>
    </select>
  </label>
</div>
