<div class="gl__select-container">
  <label class="gl__select-wrapper">
    <select class="gl__select">
      <option>{{ selectTitle }}</option>
      <option>{{ option1 }}</option>
      <option>{{ option2 }}</option>
      <option>{{ option3 }}</option>
      <option>{{ option4 }}</option>
      <option>{{ option5 }}</option>
      <option>{{ option6 }}</option>
      <option>{{ option7 }}</option>
      <option>{{ option8 }}</option>
      <option>{{ option9 }}</option>
      <option>{{ option10 }}</option>
      <option>{{ option11 }}</option>
      <option>{{ option12 }}</option>
      <option>{{ option13 }}</option>
    </select>
  </label>
</div>
